body {
  background: #55a599;
  height: 100dvh;
  width: 100dvw;
}

.container {
  max-width: unset; /* required to remove nextjs css limits, i did find where remove those css files */

  width: 100%;
  height: 100%;
}

.container--child {
  width: 50%;
  background: #edfaf8;
  border-radius: 1rem;
  padding: 2rem;

  box-shadow: -50px 60px 70px -20px #1e1a1a;
}

.field {
  background: #edfaf8;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: 20rem;
  cursor: text;
}

.form--button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: #2b7a6d;
  font-size: 1.2rem;

  width: 20rem;
  color: #edfaf8;

  margin: 1rem;
  cursor: pointer;
}

.form-text {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.form-text--link {
  color: #2b7a6d;
}

.field--input {
  outline: none;
}

.icon {
  margin-right: 0.5rem;
}
